/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
html, body {
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

/* line 16, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 20, ../sass/screen.scss */
header {
  padding: 40px 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 999;
}
/* line 28, ../sass/screen.scss */
header.navopen {
  position: fixed;
}
/* line 30, ../sass/screen.scss */
header.navopen h1 {
  color: #fff;
}
/* line 34, ../sass/screen.scss */
header.navopen .burger-btn .bar {
  background-color: #fff;
}
/* line 39, ../sass/screen.scss */
header nav {
  max-width: 1500px;
  z-index: 999;
  padding: 0 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
/* line 48, ../sass/screen.scss */
header nav h1 {
  color: #000;
  font-size: 1em;
  font-weight: 500;
}
/* line 53, ../sass/screen.scss */
header nav .burger-btn {
  z-index: 999;
  position: relative;
  height: 10px;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
/* line 64, ../sass/screen.scss */
header nav .burger-btn.baronclick .bar.bar1 {
  transform: rotate(45deg);
  top: 5px;
  width: 100%;
}
/* line 69, ../sass/screen.scss */
header nav .burger-btn.baronclick .bar.bar2 {
  top: -3px;
  transform: rotate(-45deg);
  width: 100%;
}
/* line 76, ../sass/screen.scss */
header nav .burger-btn .bar {
  border-radius: 100px;
  background-color: #000;
  width: 100%;
  height: 2px;
  position: relative;
  transition: .2s;
}
/* line 83, ../sass/screen.scss */
header nav .burger-btn .bar.bar1 {
  width: 100%;
}
/* line 86, ../sass/screen.scss */
header nav .burger-btn .bar.bar2 {
  width: 100%;
}
/* line 90, ../sass/screen.scss */
header nav .burger-btn:hover {
  cursor: pointer;
}
/* line 93, ../sass/screen.scss */
header nav .burger-btn:hover .bar.bar1, header nav .burger-btn:hover .bar.bar2, header nav .burger-btn:hover .bar.bar3 {
  width: 100%;
  transition: .2s;
}

/* line 102, ../sass/screen.scss */
div.menu {
  position: fixed;
  overflow: hidden;
  background-color: black;
  height: 0%;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
}
/* line 116, ../sass/screen.scss */
div.menu.isOpen {
  opacity: 1;
  height: 100%;
  transition: opacity .3s;
}
/* line 121, ../sass/screen.scss */
div.menu ul {
  text-align: center;
}
/* line 124, ../sass/screen.scss */
div.menu ul a li {
  opacity: 0.4;
  font-weight: 500;
  font-size: 3em;
  margin: 50px 0;
  color: #fff;
}
/* line 130, ../sass/screen.scss */
div.menu ul a li:hover {
  opacity: 1;
}

/* line 137, ../sass/screen.scss */
.container {
  padding: 0 10%;
}

/* line 140, ../sass/screen.scss */
section.header {
  width: 100%;
  padding-top: 66px;
  height: 270px;
  display: flex;
  text-align: left;
  align-items: center;
}
/* line 147, ../sass/screen.scss */
section.header .content {
  max-width: 520px;
  color: #000;
}
/* line 150, ../sass/screen.scss */
section.header .content h2 {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 1.8em;
}
/* line 155, ../sass/screen.scss */
section.header .content p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #000;
  font-weight: 300;
}
/* line 160, ../sass/screen.scss */
section.header .content p span {
  color: #4c2ef1;
}
/* line 162, ../sass/screen.scss */
section.header .content p span:hover {
  color: #2e12e6;
}
/* line 167, ../sass/screen.scss */
section.header .content .button {
  background: #4c2ef1;
  border: 1px solid #4c2ef1;
  border-radius: 4px;
  display: inline-block;
  transition: .2s;
  margin: 15px 10px 15px 0;
}
/* line 174, ../sass/screen.scss */
section.header .content .button:hover {
  background-color: transparent;
  cursor: pointer;
  transition: .2s;
  border: 1px solid #386d79;
}
/* line 179, ../sass/screen.scss */
section.header .content .button:hover p {
  color: #000;
}
/* line 183, ../sass/screen.scss */
section.header .content .button p {
  font-size: 0.7em;
  padding: 7px 33px;
  margin: 0;
  color: #fff;
}

/* line 192, ../sass/screen.scss */
.project-header {
  width: 100%;
  padding-top: 156px;
  height: 240px;
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 200, ../sass/screen.scss */
.project-header .content {
  max-width: 40%;
  color: #000000;
}
/* line 203, ../sass/screen.scss */
.project-header .content h2 {
  font-weight: 600;
  font-size: 1.7em;
}
/* line 208, ../sass/screen.scss */
.project-header .info {
  max-width: 60%;
}
/* line 210, ../sass/screen.scss */
.project-header .info p {
  font-size: 0.9em;
  line-height: 1.6em;
  font-weight: 400;
  margin: 0 0 20px 0;
}
/* line 215, ../sass/screen.scss */
.project-header .info p span {
  color: #604CE3;
}
/* line 217, ../sass/screen.scss */
.project-header .info p span:hover {
  color: #2e12e6;
}
/* line 223, ../sass/screen.scss */
.project-header .info ul li {
  padding: 10px 0;
  font-size: 0.9em;
  font-weight: 400;
  line-height: normal;
}
/* line 228, ../sass/screen.scss */
.project-header .info ul li span {
  font-weight: 600;
}
/* line 231, ../sass/screen.scss */
.project-header .info ul li a {
  color: #604CE3;
}

/* line 239, ../sass/screen.scss */
section.projects .project {
  margin: 0 0 120px 0;
  height: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
/* line 251, ../sass/screen.scss */
section.projects .project.project-1 .project-txt .button {
  background: transparent;
  border: 1px solid #000;
}
/* line 254, ../sass/screen.scss */
section.projects .project.project-1 .project-txt .button:hover {
  background: #ddfa91;
  border: 1px solid #ddfa91;
}
/* line 258, ../sass/screen.scss */
section.projects .project.project-1 .project-txt .button p {
  color: #000;
}
/* line 263, ../sass/screen.scss */
section.projects .project.project-1 .project-illu {
  overflow: hidden;
  text-align: center;
  background-image: url(../assets/img/cn3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 273, ../sass/screen.scss */
section.projects .project.project-1 .project-illu img {
  display: inline-block;
  width: 100%;
  margin: 0px auto 0 auto;
}
/* line 283, ../sass/screen.scss */
section.projects .project.project-2 .project-txt .button {
  background: transparent;
  border: 1px solid #000;
}
/* line 286, ../sass/screen.scss */
section.projects .project.project-2 .project-txt .button:hover {
  border: 1px solid #91dbf9;
  background: #91dbf9;
}
/* line 290, ../sass/screen.scss */
section.projects .project.project-2 .project-txt .button p {
  color: #000;
}
/* line 295, ../sass/screen.scss */
section.projects .project.project-2 .project-illu {
  overflow: hidden;
  background-image: url(../assets/img/ph3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 304, ../sass/screen.scss */
section.projects .project.project-2 .project-illu img {
  display: inline-block;
  width: 100%;
  margin: 0px auto 0 auto;
}
/* line 313, ../sass/screen.scss */
section.projects .project.project-3 .project-txt .button {
  background: transparent;
  border: 1px solid #000;
}
/* line 316, ../sass/screen.scss */
section.projects .project.project-3 .project-txt .button:hover {
  background: #4c5962;
  border: 1px solid #4c5962;
}
/* line 319, ../sass/screen.scss */
section.projects .project.project-3 .project-txt .button:hover p {
  color: #fff;
}
/* line 323, ../sass/screen.scss */
section.projects .project.project-3 .project-txt .button p {
  color: #000;
}
/* line 328, ../sass/screen.scss */
section.projects .project.project-3 .project-illu {
  overflow: hidden;
}
/* line 337, ../sass/screen.scss */
section.projects .project.project-3 .project-illu img {
  display: inline-block;
  width: 100%;
  margin: 0px auto 0 auto;
}
/* line 346, ../sass/screen.scss */
section.projects .project.project-4 .project-txt .button {
  background: transparent;
  border: 1px solid #000;
}
/* line 349, ../sass/screen.scss */
section.projects .project.project-4 .project-txt .button:hover {
  border: 1px solid #afeefe;
  background: #afeefe;
}
/* line 353, ../sass/screen.scss */
section.projects .project.project-4 .project-txt .button p {
  color: #000;
}
/* line 358, ../sass/screen.scss */
section.projects .project.project-4 .project-illu {
  overflow: hidden;
  background-image: url(../assets/img/ph3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 367, ../sass/screen.scss */
section.projects .project.project-4 .project-illu img {
  display: inline-block;
  width: 100%;
  margin: 0px auto 0 auto;
}
/* line 374, ../sass/screen.scss */
section.projects .project .project-illu {
  position: relative;
  background-color: #fff;
  height: 350px;
  border-radius: 5px;
  min-width: 540px;
  max-width: 600px;
  width: 60px;
  flex: 2;
}
/* line 383, ../sass/screen.scss */
section.projects .project .project-illu img {
  top: 0px;
  position: relative;
  width: 70%;
}
/* line 389, ../sass/screen.scss */
section.projects .project .project-txt {
  flex: 2;
  max-width: 500px;
  padding: 40px;
  position: relative;
}
/* line 394, ../sass/screen.scss */
section.projects .project .project-txt .button {
  background: #afeefe;
  border: 1px solid #afeefe;
  border-radius: 4px;
  display: inline-block;
  transition: .2s;
  margin: 15px 0;
}
/* line 401, ../sass/screen.scss */
section.projects .project .project-txt .button:hover {
  background-color: transparent;
  cursor: pointer;
  transition: .2s;
  border: 1px solid #386d79;
}
/* line 407, ../sass/screen.scss */
section.projects .project .project-txt .button p {
  font-size: 0.7em;
  padding: 7px 33px;
  margin: 0;
  color: #386d79;
}
/* line 414, ../sass/screen.scss */
section.projects .project .project-txt h4 {
  font-size: 0.7em;
  font-weight: 400;
  margin: 0;
  opacity: 0.9;
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  z-index: 10;
}
/* line 426, ../sass/screen.scss */
section.projects .project .project-txt h3 {
  font-weight: bold;
  margin: 10px 0 10px 0;
  font-size: 1.3em;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 1.6em;
}
/* line 435, ../sass/screen.scss */
section.projects .project .project-txt p {
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.6em;
  color: #545454;
}

/* line 447, ../sass/screen.scss */
.txt-view-more {
  text-align: center;
  padding: 30px 0px;
}
/* line 450, ../sass/screen.scss */
.txt-view-more h3 {
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 1.6em;
}
/* line 457, ../sass/screen.scss */
.txt-view-more h4 {
  font-weight: 300;
  margin: 6px 0;
  font-size: 1.2em;
  letter-spacing: 0px;
  line-height: 1.6em;
}
/* line 464, ../sass/screen.scss */
.txt-view-more .button {
  background: #000;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  transition: .2s;
  margin: 14px 0;
}
/* line 471, ../sass/screen.scss */
.txt-view-more .button p {
  padding: 7px 33px;
  margin: 0;
  font-size: 0.7em;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.6em;
}
/* line 479, ../sass/screen.scss */
.txt-view-more .button:hover {
  background: transparent;
  transition: .2s;
  cursor: pointer;
}
/* line 483, ../sass/screen.scss */
.txt-view-more .button:hover p {
  color: #000;
}

/* line 490, ../sass/screen.scss */
.other-projects {
  text-align: center;
  position: relative;
  width: 100%;
  display: block;
  margin: 50px 0;
}
/* line 496, ../sass/screen.scss */
.other-projects .work {
  width: 400px;
  height: 280px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
/* line 503, ../sass/screen.scss */
.other-projects .work .work-bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
  position: relative;
}
/* line 511, ../sass/screen.scss */
.other-projects .work .work-bg.project-1 {
  background-image: url(../assets/img/aec.jpg);
}
/* line 514, ../sass/screen.scss */
.other-projects .work .work-bg.project-2 {
  background-image: url(../assets/img/gazelle.png);
}
/* line 517, ../sass/screen.scss */
.other-projects .work .work-bg.project-3 {
  background-image: url(../assets/img/spinkop.png);
}
/* line 520, ../sass/screen.scss */
.other-projects .work .work-bg.project-4 {
  background-image: url(../assets/img/ovulus.png);
}
/* line 523, ../sass/screen.scss */
.other-projects .work .work-bg .work-hover {
  opacity: 0;
  background-color: rgba(0, 221, 225, 0.98);
  width: 400px;
  height: 280px;
  position: absolute;
  transition: 0.2s;
}
/* line 530, ../sass/screen.scss */
.other-projects .work .work-bg .work-hover p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
  top: 50%;
  position: relative;
  font-size: 0.9em;
  transform: translateY(-50%);
}
/* line 538, ../sass/screen.scss */
.other-projects .work .work-bg .work-hover p span {
  display: block;
  margin: 7px 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  opacity: 0.9;
}
/* line 548, ../sass/screen.scss */
.other-projects .work .work-bg:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
/* line 554, ../sass/screen.scss */
.other-projects .work:hover .work-hover {
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}

/* line 562, ../sass/screen.scss */
.social {
  text-align: center;
}
/* line 564, ../sass/screen.scss */
.social .item {
  height: 23px;
  margin: 0 10px;
  width: 99px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .4s;
  position: relative;
}
/* line 574, ../sass/screen.scss */
.social .item.item1 {
  background-image: url(../assets/img/facebook.png);
}
/* line 575, ../sass/screen.scss */
.social .item.item1:hover {
  background-image: url(../assets/img/facebook_hover.png);
}
/* line 579, ../sass/screen.scss */
.social .item.item2 {
  background-image: url(../assets/img/insta.png);
  width: 107px;
}
/* line 580, ../sass/screen.scss */
.social .item.item2:hover {
  background-image: url(../assets/img/insta_hover.png);
}
/* line 584, ../sass/screen.scss */
.social .item.item3 {
  background-image: url(../assets/img/twitter.png);
  width: 80px;
}
/* line 585, ../sass/screen.scss */
.social .item.item3:hover {
  background-image: url(../assets/img/twitter_hover.png);
}
/* line 589, ../sass/screen.scss */
.social .item:hover {
  transition: .1s;
  cursor: pointer;
  top: -2px;
}

/* line 601, ../sass/screen.scss */
.project-presentation {
  margin: 50px 0;
}
/* line 603, ../sass/screen.scss */
.project-presentation img {
  width: 100%;
  margin: 20px 0;
}
/* line 607, ../sass/screen.scss */
.project-presentation .project-txt {
  padding: 50px 0;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
/* line 613, ../sass/screen.scss */
.project-presentation .project-txt h4 {
  font-weight: bold;
  margin: 10px 0 10px 0;
  font-size: 1.3em;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 1.6em;
}
/* line 621, ../sass/screen.scss */
.project-presentation .project-txt p {
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 300;
}

/* line 631, ../sass/screen.scss */
section.works {
  min-height: 300px;
  background-color: blue;
}
/* line 634, ../sass/screen.scss */
section.works .works-left {
  padding-top: 156px;
  background-color: red;
  height: 100%;
  width: 50%;
}
/* line 640, ../sass/screen.scss */
section.works .works-left .project img {
  width: 100%;
}

/* line 656, ../sass/screen.scss */
footer {
  text-align: center;
  padding: 30px 0;
}
/* line 659, ../sass/screen.scss */
footer p {
  font-size: 0.8em;
  color: #A0A0A0;
}

@media screen and (max-width: 1056px) {
  /* line 666, ../sass/screen.scss */
  .other-projects .work {
    width: 45%;
    margin: 7px;
    height: 260px;
  }
}
@media screen and (max-width: 1030px) {
  /* line 673, ../sass/screen.scss */
  section.projects .project .project-illu {
    min-width: 380px;
    height: 270px;
  }

  /* line 677, ../sass/screen.scss */
  section.projects .project .project-txt {
    padding: 0px 40px;
    min-width: 242px;
  }

  /* line 681, ../sass/screen.scss */
  section.projects .project {
    height: auto;
  }
}
@media screen and (max-width: 877px) {
  /* line 686, ../sass/screen.scss */
  section.projects .project .project-txt {
    padding: 40px;
  }

  /* line 689, ../sass/screen.scss */
  section.projects .project-2, section.projects .project-4 {
    flex-direction: column-reverse;
  }

  /* line 692, ../sass/screen.scss */
  section.projects .project .project-illu {
    width: 100%;
  }

  /* line 695, ../sass/screen.scss */
  section.projects .project {
    margin: 0px;
  }

  /* line 698, ../sass/screen.scss */
  .other-projects {
    justify-content: center;
  }

  /* line 701, ../sass/screen.scss */
  .other-projects .project {
    width: 310px;
    max-width: 310px;
    min-width: 310px;
  }
}
@media screen and (max-width: 750px) {
  /* line 709, ../sass/screen.scss */
  .project-header {
    flex-wrap: wrap;
    padding-top: 95px;
    height: auto;
  }
  /* line 713, ../sass/screen.scss */
  .project-header .content {
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
  }
  /* line 718, ../sass/screen.scss */
  .project-header .info {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  /* line 728, ../sass/screen.scss */
  section.header .content {
    padding: 0 10%;
  }

  /* line 731, ../sass/screen.scss */
  section.projects .project .project-illu {
    max-width: 100%;
    border-radius: 0px;
  }

  /* line 735, ../sass/screen.scss */
  .social .item {
    height: 18px;
    width: 80px;
  }
  /* line 738, ../sass/screen.scss */
  .social .item.item2 {
    width: 88px;
  }
  /* line 741, ../sass/screen.scss */
  .social .item.item3 {
    width: 62px;
  }

  /* line 745, ../sass/screen.scss */
  .container {
    padding: 0%;
  }

  /* line 749, ../sass/screen.scss */
  .project-header .content {
    padding: 0 10%;
  }
  /* line 752, ../sass/screen.scss */
  .project-header .info {
    padding: 0 10%;
  }

  /* line 756, ../sass/screen.scss */
  .project-presentation .project-txt {
    text-align: left;
  }
  /* line 758, ../sass/screen.scss */
  .project-presentation .project-txt h4, .project-presentation .project-txt p {
    padding: 0 10%;
  }

  /* line 762, ../sass/screen.scss */
  .other-projects {
    margin: 0px;
  }
  /* line 764, ../sass/screen.scss */
  .other-projects .work {
    margin: 5px auto;
    width: 45%;
    height: 120px;
    border-radius: 5px;
  }
}
